#instituto{
    width: 50px;
    height: auto;
}

header{
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: solid 0px;
    font-family: 'Kara', sans-serif;
    font-size: 20px;
    margin-left: 50px;
    background-color: transparent;
    color: #4C5186;
    cursor: pointer;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #4C5186;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #4C5186;
    width: 800px;
}

.logoImg{
    height: 100px;
}

.localizacao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}